{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Note</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="form">
            <div class="title">
                <span class="material-icons md-48">add_circle_outline</span>
                <h2>Want to add a note?</h2>
            </div>
            <div class="input-container">
                <form method="POST" action="">
                    {%csrf_token%}
                    <div class="input">
                        <label for="">To</label>
                        <br>
                        {{form.toName}}
                    </div>
                    <div class="input">
                        <label for="">From</label>
                        <br>
                        {{form.fromName}}
                    </div>
                    <div class="input">
                        <label for="">Title</label>
                        <br>
                        {{form.title}}
                    </div>
                    <div class="input">
                        <label for="">Messages</label>
                        <br>
                        {{form.message}}
                    </div>
                    <input class="btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
        
    </div>
        
    {% endblock %}
    
</body>

</html>