{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Note</title>
</head>

<body>
    {% block content %}
    <div class="list-note">
        <h1>List Note</h1>
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td>{{ note.toName }}</td>
                <td>{{ note.fromName }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.message }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
        
    {% endblock %}
    
</body>

</html>