{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Note</title>
</head>

<body>
    {% block content %}
    <div class="my-notes">
        <h1>My Notes</h1>
        <div class="show-card">
            {% for note in notes %}
            <div class="card">
                <div class="section">
                    <p class="label">TO</p>
                    <p class="content">{{ note.toName }}</p>
                </div>
                <div class="section">
                    <p class="label">FROM</p>
                    <p class="content">{{ note.fromName }}</p>
                </div>
                <div class="section">
                    <p class="label">TITLE</p>
                    <p class="content">{{ note.title }}</p>
                </div>
                <div class="section">
                    <p class="label">MESSAGES</p>
                    <p class="content">{{ note.message }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>

    {% endblock %}

</body>

</html>