{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteAdd</title>
    <link rel="shortcut icon" type="images/png" href="{% static 'img/favicon.png' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <div>
        <nav>
            <div id="logo cursor-pointer">
               <a href="{% url 'index_list' %}"><img src="{% static "img/Logo.svg" %}" alt="NoteAdd"></a> 
            </div>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="menu">
                <li> <a href="{% url 'note_list' %}" class="menu-btn">My Notes</a> </li>
                <li> <a href="{% url 'index_list' %}" class="menu-btn">List Note</a> </li>
                <li> <a href="{% url 'add_note' %}" class="menu-btn"><span class="material-icons md-24 icon">add_circle_outline</span>Add Note</a> </li>
            </ul>
        </nav>

        {% block content %}
            content
        {% endblock %}
    </div>
    
</body>
</html>