<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
</head>

<body>
    <h3>Want to add your friend?</h3>
    <div>
        <form method="POST" action="">
            {%csrf_token%}
            {{form}}
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>