@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --black: #000000;
    --grey: #D6D6D6;
    --light-grey: #F0F1F1;
    --white: #FFFFFF;
    --primary: #47318F;
    --soft-purple: #E7DFFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
    margin-bottom: 114px;
}

nav {
   margin: 24px 120px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   max-width: 1720px;
}

#logo {
    justify-self: start;
    align-items: center;
}

.menu {
    justify-self: end;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    

}

.menu-btn {
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 0px 8px;
}


.list-note, .container, .my-notes {
    margin: 64px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

table  {
    width: 100%;;
    margin-top: 24px;
    border-collapse: collapse;
    border: 1px solid var(--black);
    border-radius: 16px;
}

tr, th, td {
    border: 1px solid var(--grey);
    padding: 8px;
}

th {
    background-color: var(--soft-purple);
}

.input-container {
    margin-top: 32px;
}

.btn {
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    border: none;
    
}

.input {
    margin-bottom: 16px;
    width: 100%;
}

#id_toName, #id_fromName, #id_title, #id_message {
    width: 100%;
    padding: 8px;
}


.show-card {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
    width: 100%;
}
.card {
    margin: 20px;
    padding: 16px;
    background-color: var(--soft-purple);
    border-radius: 8px;
    width: 100%;
}

.section {
    margin-bottom: 12px;
}

.label {
    font-size: 12px;
}

.content {
    font-size: 16px;
    font-weight: bold;
}


